$title-color = #b11f24
$text-color = #45130f
$other-color = #d1c4c3
$dark-ale = #892000
$lambic = #c43300
$abbey = #db580b
$lager = #f49c00
$font-family = Arial
$fontlarge = 0.32rem
$font-normal = 0.28rem
$font-small = 0.24rem